@{
    ViewData["Title"] = "Login Page";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Sign in to your GRIS account
        </h1>

        <p class="govuk-body">You can use your exisiting ORCID ID or NIHR identity gateaway to sign in to the Government
            Research Identifier Service. This means you don't need to create another account.</p>

        <div class="govuk-button-group">
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Sign in using your ORCiD ID
            </button>
            <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                Sign in using NIHR identity gateaway
            </button>
        </div>

        <hr class="govuk-section-break--l">

        <h3 class="govuk-heading-m">If you don't have an account</h3>
        <p class="govuk-body"> If you don't have an account on ORCID or NIHR identity gateaway, you will
            need to sign up for either in order to gain access to the Government Research Identifier Service.
        </p>
        <ul class="govuk-list">
            <li>
                <a class="govuk-link--no-visited-state" href="#">Register for an ORCHiD ID</a>
            </li>
            <li>
                <a class="govuk-link--no-visited-state" href="#">Register for NIHR Identity gateaway</a>
            </li>
        </ul>
    </div>
</div>